<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DiversiParty!</title>
  <% include ../partials/head.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/parties/show.css">
</head>
<body>

  <% include ../partials/header.ejs %>

  <div id="container">
    <h1>Join this party</h1>
    <section>
      <h3>Host:</h3>
      <img src="<%= party.image_url%>">
      <h3><%= party.location %></h3>
      <h3><%= party.party_date %> <%= party.party_time %></h3>

      <div id="scroll">

      </div>  
        
    </section>
  </div>

  <% include ../partials/footer.ejs %>

</body>
</html>